*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
    background-color: #F3F2EE;
}

.landing-homepage{
    display: flex;
    width: 100%;
    height: 756px;
    flex-direction: column;
    background-color: #F3F2EE;
}


.landing-homepage-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 70px;
    padding-left: 70px;
    position: absolute;
}

.landing-homepage-header-menu{
    display: none;
}
.landing-homepage-header-content{
    width: 440px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 170px;
}

.landing-homepage-header-content a{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #33321E80;
    font-size: 15px;
    display: block;
    position: relative;
}

.landing-homepage-header-content a:nth-child(1),
.landing-homepage-header-content a:nth-child(2),
.landing-homepage-header-content a:nth-child(3) {
    border-right: 1px solid #33321E80;
    padding-right: 20px;
    padding-left: 20px;
}
.landing-homepage-header-content a:nth-child(4){
    padding-left: 20px;
}

.landing-homepage-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
}

.landing-homepage-content-left{
    padding-top: 100px;
}

.landing-homepage-content-left h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: semibold;
    color: #33321E;
    font-size: 66px;
    line-height: 93%;
    margin: 74px 0px 50px 0px;
}

.landing-homepage-content-left-p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: semibold;
    color: #33321E;
    font-size: 18px;
    letter-spacing: 1%;
    margin-bottom: 60px;
    width: 556px;
}

.landing-homepage-content-left-a{
    width: 350px;
    height: 90px;
    background-color: #45694E;
    color: #FFFFFF;
    border-radius: 32.52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: semibold;
    font-size: 24.17px;
    text-align: center;
}

.landing-homepage-content-right{
    position: relative;
}




.landing-reasons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 676px;
    background-color: #909E7A;
    border-radius: 20px;
    padding-top: 55px;
    position: relative;
}

.landing-reasons h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.landing-reasons-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.landing-reasons-cards-col1-card{
    display: flex;
    flex-direction: column;
    padding: 30px 32px 30px 32px;
    width: 535px;
    min-height: 189px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    margin-left: 32px;
    border-radius: 20px;
}

.landing-reasons-cards-col1-card-caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.landing-reasons-cards-col1-card-caption-visuals{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #45694E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.landing-reasons-cards-col1-card-caption h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: semibold;
    font-size: 32px;
    text-align: left;
    color: #33321E;
}

.landing-reasons-cards-col1-card-caption-p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    width: 471px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
.landing-reasons .landing-reasons-flower{
    position: absolute;
    right:0;
    bottom: -35vh;
    pointer-events: none;
}

.landing-process{
   width: 100%;
   height: 737px;
   background-color: #F3F2EE;
   padding: 90px 62px;
   display: flex;
   flex-direction: column;
}

.landing-process h2{
    color:#33321E;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 48px;
    font-weight: 600;
    width: 1099px;
}

.landing-process-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-process-left{
    margin-top: 60px;
}

.landing-process-left h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    color: #45694E;
    font-style: normal;
    margin-bottom: 30px;
}

.landing-process-left-processes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 230px;
}
.landing-process-left-processes-li{
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style-type: none;
    font-size: 18px;
    color: #33321E;
    font-weight: 400;
    width: 500px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.landing-process-left-processes-li-counter{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #45694E;
    margin-right: 15px;
    margin-left: 15px;
}

.landing-product-features{
    width: 100%;
    border-radius: 30px;
    background-color: #EBE3DE;
    height: 732px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
}

.landing-product-features h2, .landing-app-features h2, .landing-reviews h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: #33321E;
    margin-bottom: 18px;
}

.landing-product-features-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.landing-product-features-cards-card{
    width: 326px;
    height: 226px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 17px 35px;
}

.landing-product-features-cards-card-caption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 23px;
}
.landing-product-features-cards-card-caption h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #45694E;
    margin-top: 10px;
}
.landing-product-features-cards-card-p, .landing-reviews-cards-card-p, .landing-footer-col1-p, .landing-footer-col1-p-span{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: #33321E;
}

.landing-product-features-flower{
    display: none;
}

.landing-app-features{
    width: 100%;
    height: 732px;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.landing-app-features-content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.landing-app-features-content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.landing-app-features-content-right-feature{
    list-style-type: none;
    text-align: left;
    min-height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.landing-app-features-right-feature-caption h4, .landing-reviews-cards-card-user h5{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #45694E;
    margin-bottom: 5px;
}

.landing-app-features-right-feature-caption-p{
    width: 481px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #33321E;
}


.landing-app-features-right-feature-counter{
    display: inline-block;
    background-color: #45694E;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 600;
    margin-right: 15px;
}


.landing-app-features-content-left-video{
    width: 560px;
    border-radius: 20px;
}

.landing-kit {
    width: 100%;
    min-height: 774px;
    border-radius: 20px;
    background-color: #909E7A;
    padding: 60px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-kit h2 {
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 130px;
}

.landing-kit-cards {
    display: grid;
    grid-template-columns: 490px repeat(2, 270px);
    grid-template-rows: repeat(2, 255px);
    gap: 24px;
    position: relative;
}

.landing-kit-card-huge {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 50px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.landing-kit-card-huge h3 {
    margin-top: 20px;
    align-self: flex-start;
    color: #45694E;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

.landing-kit-card-small {
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.landing-kit-card-small img {
    width: auto;
    height: 130px;
    max-width: 180px;
    margin-bottom: 20px;
}

.landing-kit-card-small h4 {
    color: #45694E;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin: 0;
}

.landing-kit-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 400px;
    width: auto;
    border-bottom-left-radius: 20px;
}


.landing-reviews{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #F3F2EE;
    align-items: center;
    padding: 60px 55px;
}

.landing-reviews-cards{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.landing-reviews-cards-card{
    background-color: #FFFFFF;
    width: 430px;
    min-height: 227px;
    border-radius: 20px;
    margin-left: 25px;
    padding: 25px;
}

.landing-reviews-cards-card-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.landing-reviews-cards-card-user-picture{
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}

.landing-footer{
    width: 100%;
    background-color: #EBE3DE;
    border-radius: 20px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
}
.landing-footer-col1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.landing-footer-col1-logo{
    width: 179px;
    height: 35px;
}

.landing-footer-col1-socials-links{
    margin-top: 10px;
    width: 113px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-footer-col1-socials-links-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius:100%;
}

.landing-footer-col2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 65px;
}

.landing-footer-col2-link, .landing-footer-col2-link-gmail, .landing-footer-col2-p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    color: #33321E;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 20px;
}

.landing-footer-col2-link-gmail, .landing-footer-col2-p{
    text-decoration: none;
}

.landing-footer-pot-smaller{
    display: none;
}
.landing-footer-pot{
    border-top-right-radius: 20px;
}

@media (max-width: 430px) {
    .landing-homepage{
        height: auto;
        min-height: 90vh;
    }

    .landing-homepage-header{
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        position: static;
        z-index: 4;
    }

    .landing-homepage-content{
        flex-direction: column-reverse;
    }

    .landing-homepage-header-content{
        display: none;
    }
    .landing-homepage-header-logo{
        width: 68px;
        height: 13px;
    }

    .landing-homepage-header-menu{
        display: block;
    }

    .landing-homepage-content{
       padding-left: 40px;
    }

    .landing-homepage-content-left{
        z-index: 4;
        margin-top: 80px;
    }
   
    .landing-homepage-content-left h1{
        font-size: 30px;
        margin-bottom: 35px;
    }

    .landing-homepage-content-left-p{
        font-size: 14px;
        max-width: 348px;
        width: 100%;
        margin-bottom: 45px;
    }

    .landing-homepage-content-left-a{
        width: 100%;
        max-width: 369px;
        font-size: 20.97px;
        height: 71px;
    }

   .landing-homepage-content-right{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0px;
        right: 30px;
        z-index: 1;
    }

    .landing-homepage-content-right img{
        max-width: 300px;
        width: 100%;
        max-height: 300px;
        position: relative;
    }
    

    .landing-reasons{
        width: 100%;
        height: auto;
        min-height: 1100px;
        align-items: center;
    }

    .landing-reasons h2{
        font-size: 20px;
        margin-bottom: 28px;
        width: 360px;
        text-align: left;
        margin-left: 30px;
    }

    .landing-reasons-cards-col1-card{
        width:342px;
        height: 199px;
        margin-left: 0;
        padding: 25px;
    }
    .landing-reasons-cards-col1-card-caption{
        margin-bottom: 10px;
    }

    .landing-reasons-cards-col1-card-caption-visuals{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .landing-reasons-cards-col1-card-caption h4{
        font-size: 22px;
        width: 201px;
    }
    .landing-reasons-cards-col1-card-caption-p{
        font-size: 14px;
        width: 284px;
    }

    .landing-reasons .landing-reasons-flower{
        bottom: -12vh;
    }

    .landing-reasons-flower img{
        height: 350px;
    }

    .landing-process{
        min-height: 737px;
        height: auto;
        padding: 50px 0px 20px 0px;
        align-items: center;
    }
    .landing-process h2{
        font-size: 20px;
        width: 337px;
    }

    .landing-process-content{
        flex-direction: column-reverse;
    }

    .landing-process-right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-process-right .landing-process-right-video{
        height: 322px;
        border-radius: 20px;
        width: 100%;
        max-width: 430px;
    }

    .landing-process-left{
        margin-top: 0;
    }

    .landing-process-left h4{
        font-size: 20px;
        margin-left: 30px;
    }
    .landing-process-left-processes{
        align-items: center;
        width: 430px;
    }
    .landing-process-left-processes-li{
        width: 376px;
        font-size: 13px;
    }

    .landing-product-features{
        height: auto;
        min-height: 190vh;
    }

    .landing-product-features h2, .landing-reviews h2, .landing-app-features h2{
        font-size: 24px;
    }

    .landing-product-features-cards{
        width: 100%;
        position: absolute;
        margin: 30px;
    }
    .landing-product-features-cards-card{
        margin-left: 0;
        width: 332px;
        height: 173px;
    }
    .landing-product-features-cards-card-caption{
        margin-bottom: 13px;
    }
    .landing-product-features-cards-card-p, .landing-reviews-cards-card-p, .landing-footer-col1-p{
        font-size: 14px;
    }
    .landing-footer-col1-p{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .landing-product-features-flower{
        display: flex;
        position: relative;
        right: 23vh;
        top: 116vh;
    }

    .landing-app-features{
        min-height: 832px;
        height: auto;
        padding: 40px 0px;
    }

    .landing-app-features-content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .landing-app-features h2{
        margin-left: 25px;
        margin-bottom: -20px;
    }

    .landing-app-features-content{
        margin-top: 0px;
    }
    .landing-app-features-content-right{
        margin-top: 0px;
    }

    .landing-app-features-content-right-feature{
        width: 400px;
        min-height: 84px;
        margin-top: 10px;
    }
    .landing-app-features-right-feature-caption h4{
        font-size: 20px;
    }
    .landing-app-features-right-feature-caption-p{
        font-size: 14px;
        width: 301px;
    }

    .landing-app-features-content-left .landing-app-features-content-left-video{
        width: 430px;
        height: 339px;
        border-radius: 20px;
    }

    .landing-kit{
        min-height: 885px;
        height: auto;
        display: none;
    }



    .landing-reviews{
        min-height: 889px;
        height: auto;
    }

    .landing-reviews-cards{
        flex-direction: column;
        margin: 0;
    }

    .landing-reviews-cards-card{
        width: 332px;
        min-height: 223px;
        height: auto;
        margin-top: 30px;
    }

    .landing-reviews-cards-card-user{
        margin-bottom: 10px;
    }

    .landing-reviews-cards-card-user h5{
        font-size: 20px;
    }

    .landing-footer{
        min-height: 400px;
        height: auto;
        flex-direction: column;
        padding: 0px 30px 0px 30px;
    }
    .landing-footer-col1{
        padding-top: 30px;
        padding-bottom: 0;
        position: relative;
    }
    .landing-footer-col1-logo{
        width: 157px;
        height: 31px;
    }

    .landing-footer-col1-p-span{
        margin-top: 20px;
        font-size: 14px;
    }

    .landing-footer-col2{
        margin-top: 40px;
    }

    .landing-footer-col2-link, .landing-footer-col2-link-gmail, .landing-footer-col2-p{
        font-size: 14px;
        margin-top: 10px;
    }
    .landing-footer-pot{
        display: none;
    }
    .landing-footer-pot-smaller{
        display: block;
        position: absolute;
        right: 0;
    }
}